<script type="text/html" id="items">

	<div class="item {{if read}}item-read {{/if}}clearfix unbinditem" data="${id}">
		<div class="title clearfix">
			<span{{if !read}} class="title-unread"{{/if}}>${title}</span>
			{{if shared}}<span class="item-shareicon">&nbsp;shared&nbsp;</span>{{/if}}
			- 
			<span class="item-abstract"> ${getTitleContent(description)}No content. No content. No content. No content. No content. No content. No content. No content. No content. No content. No content. No content. No content. No content. No content. No content. No content. </span>
		</div>
		<div class="item-left clearfix">
			<div class="markstar ${starred?'icon-starred':'icon-unstarred'}" data="${id}"></div> 
			<div class="item-outline">${cache.outlineTitle[feed_id]}</div>
		</div>
		<div class="item-right clearfix">
			<div class="item-datetime clearfix">${toDateTime(pubDate)}</div>
			<div class="item-link clearfix">
				<a href="${link}" target='_blank' class="icon-link"></a>
			</div>
		</div>
	</div>
	<div class="item-content hidediv clearfix"></div>

</script>

<script type="text/html" id="item-toolbar">
	<div class="item item-toolbar" data="${id}">
		<input type='checkbox' name='unread' data='${id}' /> Mark as UNREAD | 
		<a href='#' data='${id}'>Test</a> |
		<input type='checkbox' name='shared' data='${id}' ${shared?'checked':''} /> Share | 
	</div>
</script>

<script type="text/html" id="displaycontent">
	<div class='item-displaycontent clearfix'>
		<h2><a href="${link}" target="_blank">${title}</a></h2>
		<div style='color:#aaa;'>${author}</div>
		{{html description}}
	</div>
</script>

<script type="text/html" id="outlines">
	<ul>
		<li><a class="feeds all" href="my/items/all" data=""><span class="icon-folder"></span>All items <span class='unread'></span> </a></li>
		<li><a class="feeds" href="my/items/starred" data=""><span class="icon-starred" style='margin: 2px 5px 0 5px;'></span>Starred items <span class='unread'></span></a></li>
		<li><a class="feeds" href="my/items/shared" data=""><span class="icon-sharelist" style='margin: 2px 5px 0 5px;'></span>Shared items <span class='unread'></span></a></li>
		<li>&nbsp;</li>
	</ul>
	<ul>
		{{each(k, v) outlinelist}}
		<li>
		<a class="feeds draggable" href="my/items/feeds?id=${v.id}" data="${v.id}"><span class="icon-folder"></span>${v.title} <span class='unread'></span></a>
		<ul class='${(v.folded==1)?'hidediv':''}'>
			{{each(i,item) obj[v.title].items}}
			<li><a class="feed draggable" href="my/items/feed?id=${item.feed_id}&outline_id=${v.id}" outline="${v.id}" data="${item.feed_id}"><img width='16' height='16' src='https://plus.google.com/_/favicon?domain=${item.link}' /> ${item.title} <span class='unread'></span></a></li>
			{{/each}}
		</ul>
		</li>
		{{/each}}
	</ul>
</script>
